.profile__wrapper{
  height: calc(100vh - 80px);
  overflow: auto;
  width: calc(100vw - 330px);

  margin-left: 370px;
  margin-top: 10px;

}


@media screen and (max-width:768px){
  .profile__wrapper{
    width: calc(100vw - 65px);
    margin-left: 65px;
  }
}
