.user__wrapper:last-child {
    margin-bottom: 0;
}

.user__wrapper {
    width: 200px;
    padding: 10px;
    border: 3px solid rgb(133, 132, 132);
    margin-bottom: 5px;
}

.user__image {
    width: 100px;
}

.users__list {
    display: flex;
    flex-direction: column;
}

.user__city {
    margin: 0;

    color: #fff;
}

.user__country {
    margin: 0;
    color: #fff;
}

.user__status {
    margin: 0;
    color: #fff;
}

.user__name {
    margin: 0;
    font-size: 24px;
    letter-spacing: 0.5px;
    color: rgb(177, 177, 177);
}

.user__button {
    width: 150px;
    height: 35px;
    background: #1f7936;
    color: #fff;
    font-size: 18px;
    border: none;
    transition: ease-in .15s;
}

.user__buttonDis {
    width: 150px;
    height: 35px;
    background: #888888;
    color: #fff;
    font-size: 18px;
    border: none;
    transition: ease-in .15s;
}

.user__button:focus {
    outline: 2px solid rgb(212, 212, 212);
}

.user__button:hover {
    background: #278d40;
}

.user__button:active {
    transform: scale(0.97);
}