.navigate__lists {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: repeat(1fr, 5);
    row-gap: 40px;

}

.navigate__link {
    text-decoration: none;
    font-size: 24px;
    color: rgb(172, 170, 170);
    transition: ease .1s;
}

.navigate__link:hover {
    color: rgb(20, 25, 41);
}

.navigate__item {
    list-style-type: none;
}

.navigate__active {
    color: rgb(54, 209, 114);
    text-decoration: solid;
}

.navigate {
    background: rgb(28, 78, 136);
    padding-bottom: 100vh;
    text-align: center;
}