.navigate{

position: absolute;
top: 70px;
bottom: 0;
left: 0;
z-index: 1;


}




.navigate__list{
   margin: 0;
   padding: 0;
   padding-top: 5px;
   list-style-type: none;
   background-color: rgb(29, 29, 29);
   height: calc(100vh - 75px);
   width:300px;
   transition: transform .6s ease-in-out;
   overflow: hidden;


}



.navigate__link{
   font-size: 28px;
   color:#a1a1a1;
   text-decoration: none;
   display: grid;
   grid-template-columns: auto 1fr;
   column-gap: 35px;
   margin-bottom: 15px;
   padding-left: 10px;
   margin-top: 5px;
}

.navigate__link_active{
   color: rgb(25, 90, 187);
   transition: .2s ease-in-out;
   

}
.header__icon{
   color:rgb(139, 139, 139);
   padding-right: 20px;
   
}


@media screen and (max-width:874px){
   .navigate__list{
      width: 50px;
   }
}

@media screen and (max-width:674px){
   .navigate__list{
      height: calc(100vh - 65px);
   
      
   }
   .navigate{
      top:60px;
   }
   .navigate__link{
      font-size: 24px;
       column-gap: 25px;
      margin-bottom: 10px;
   }
   
  }


@media screen and (max-width:574px){
   
   .navigate__list{
      height: calc(100vh - 65px);
     width: 0;
      transform: translateX(-600px);
      transition: .4s ease-in-out;
      
   }
   .navigate__list_active{
      transform: translateX(0px);
       width: 100vw;
   }
  
}

@media screen and (max-width:416px){
   
   .navigate{
      top:45px;
   }
   .navigate__list{
      height: calc(100vh - 50px);
   
      
   }
  
}


