.navigate{

position: absolute;
top: 70px;
bottom: 0;
left: 0;
transition: .3s ease-in-out;
z-index: 1;

}


.navigate_active{
background: rgba(27, 27, 27, 0.918);
width: 100vw;
}

.navigate__list{
   margin: 0;
   padding: 0;
   padding-top: 5px;
   list-style-type: none;
   padding-left: 10px;
   background-color: rgb(29, 29, 29);
   height: calc(100vh - 75px);
   width:300px;
   transition: transform .4s ease-in-out;
   overflow: hidden;
   /* transform: translateX(-350px); */

}

.navigate__list_active{
   transform: translateX(0px);
}

.navigate__link{
   font-size: 28px;
   color:#a1a1a1;
   text-decoration: none;
   display: grid;
   grid-template-columns: auto 1fr;
   column-gap: 35px;
margin-bottom: 15px;
}

.navigate__active{
   color: rgb(94, 59, 160);
   transition: .2s ease-in-out;

}
.header__icon{
   color:rgb(139, 139, 139);
   padding-right: 20px;
   
}


@media screen and (max-width:768px){
   .navigate__list{
      width: 50px;
   }
}


