
.header{
   width: 100%;

}

.header__wrapper {
   height: 70px;
   background: rgb(175, 168, 87);
   display: grid;
   grid-template-columns: auto 1fr 30px 30px;
   justify-content: space-around;
   align-items: center;
   padding-left: 20px;
   padding-right: 20px;
   transition: ease .4s;
   z-index: 2;
} 

.header__button_menu {
   width: 25px;
   padding: 0;
   display: flex;
   place-items: center;
   height: 15px;
   background: transparent;
   border: none;
   transition: ease .2s;

}

.header__title {
   color: rgb(25, 25, 25);
   font-size: 32px;
   margin: 0;
   justify-self: center;
}

@media screen and (max-width:478px) {
 
   .header__title{
      font-size: 22px;
   }

 
}