@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.header {
    display: block;
    background: #2973B8
}

.header__wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

.header__logo {
    width: 45px;
    height: 45px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;


}