.form__title {
    margin: 0;
    font-size: 28px;
    line-height: 36px;
    color: rgb(60, 152, 206);

}

.form__field {
    padding: 0;
    margin: 0;
    max-width: 1000px;
    border: none;
    display: grid;
    grid-template-columns: 1fr auto;
}

.form__wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 15px;
}

.form__input {
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.856);
    width: 95%;
    height: 60px;
}

.form__input:focus {
    outline-width: 2px;
    outline-color: #2973B8;
}

.form__input::placeholder {
    font-size: 24px;
    opacity: 0.4;
}

/* BUTTON */

.form__button {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    width: 150px;
    height: 100%;
    background: #578CB5;


}

.form__button:focus {
    outline-width: 2px;
    outline-color: #2973B8;
}

.form__button:hover {
    background: rgb(40, 99, 189);
}

.postContainer {
    padding: 25px;
    overflow-y: auto;
    height: 400px;

}

::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 15px;
    height: 0px
}

::-webkit-scrollbar-track {
    background-color: #ecedee
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #108ead;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #375a5d;
}

::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 10px;
    height: 0px
}

::-webkit-scrollbar {
    width: 4px;
}