.form__title {
    margin: 0;
    font-size: 28px;
    line-height: 36px;
    color: rgb(60, 152, 206);

}

.form__field {
    padding: 0;
    margin: 0;
    border: none;
    display: grid;
    grid-template-columns: 1fr auto;
}

.form__wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 15px;
}

.form__input {
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.856);
    width: 95%;
    height: 60px;
}

.form__input::placeholder {
    font-size: 24px;
    opacity: 0.4;
}

/* BUTTON */

.form__button {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    width: 150px;
    height: 100%;
    background: rgb(51, 113, 207);


}

.form__button:hover {
    background: rgb(40, 99, 189);
}


/* Messages */