.container {
  padding: 0 20px;
}

@media screen and (max-width: 1440px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}



/* Wrappers*/

.wrapper-block {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.wrapper-content {
  height: 100vh;
}

/* Главная обертка App */

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;

}