body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #ecececb6
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  height: calc(100vh - 80px);
  overflow: auto;
  width: calc(100vw - 330px);
  position: relative;
  margin-left: 310px;
  margin-top: 10px;
  /* margin-right: 20px; */
  position: relative;

}

.preloader{

  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width:874px){
  .container{
 
    width: calc(100vw - 65px);
    margin-left: 65px;
  }
}

@media screen and (max-width:574px){
  .container{
    width: calc(100vw - 10px);
    margin-left: 5px;
  }
}
