body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #ecececb6
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  height: calc(100vh - 80px);
  overflow: auto;
  width: calc(100vw - 330px);
  position: relative;
  margin-left: 310px;
  margin-top: 10px;

}

.preloader {

  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

b {
  color: rgb(43, 43, 43)
}

@media screen and (max-width:874px) {
  .container {

    width: calc(100vw - 75px);
    margin-left: 65px;
  }
}

@media screen and (max-width:574px) {
  .container {
    width: calc(100vw - 10px);
    margin-left: 5px;
  }
}