.dialogs__wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    padding-left: 200px;
    padding-top: 50px;
    min-width: 900px;

}

.dialogs__listTitle {
    margin: 0;
    font-size: 22px;
    color: rgb(173, 173, 173);
    padding-bottom: 10px;
    padding-top: 10px;
}

.dialogs__block {
    display: grid;
    grid-template-columns: 250px auto;
}

.dialogs__list {
    padding: 0;
    margin: 0;
    width: 250px;
    height: calc(100vh - 40%);
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: start;
    border-right: 1px solid grey;
    background: #222529;

}

.dialog {
    display: flex;
    flex-direction: column;
    list-style-type: none;


}

.dialogs__title {
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    font-size: 36px;
    color: rgb(173, 173, 173);
}