.settings__wrapper {
   display: grid;
   grid-template-rows: repeat(2, auto);
   gap: 5px;
}


.settings__button {
   display: flex;
   place-items: center;
   background-color: rgb(112, 112, 112);
   border-radius: 3px;
   color: #eeeeee;
   border: none;
   height: 40px;
   width: 200px;
   font-size: 18px;

}